.button-wrapper {
  .button {
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: $default-transition;
    padding: 7px 20px;
    height: 48px;

    &:hover {
      box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.15);
      transform: translateY(-1px);
      filter: brightness(1.05);
    }

    &:active {
      box-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.15);
      transform: translateY(0);
      filter: brightness(0.95);
    }

    &-text {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      color: white;
      margin-bottom: -5px;
    }

    .append-icon {
      &:empty {
        display: none;
      }
      margin-left: 24px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 24px;
      max-height: 24px;
      &:deep(*) {
        max-width: 24px;
        max-height: 24px;
        width: 100%;
        height: 100%;
        min-width: 24px;
        min-height: 24px;
      }
    }

    &.appended-icon {
      display: flex;
      align-items: center;
    }

    &[disabled] {
      &:hover {
        box-shadow: none;
        transform: translateY(0);
      }
      cursor: default;
      box-shadow: none;
      filter: brightness(0.9);
      pointer-events: none;
    }
  }

  &.primary .button {
    background: $base-gradient;
  }

  &.secondary .button {
    background: white;

    &-text {
      color: $primaryColor;
    }
  }

  &.danger .button {
    background: $danger-color;
  }

  &.large .button {
    border-radius: 10px;
    padding: 15px 45px;
    height: 72px;

    &-text {
      font-size: 28px;
    }
    
    .append-icon {
      max-width: 32px;
      max-height: 32px;
      &:deep(*) {
        width: 100%;
        height: 100%;
        min-width: 32px;
        min-height: 32px;
      }
    }
  }

  &.small .button {
    height: 42px;
    padding: 10px 20px;
  }

  &.circle {
    border-radius: 100px;
    .button {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
  &.icon .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &-text {
      display: none;
    }
    .append-icon {
      margin: 0;
      width: 100%;
      height: 100%;
      max-width: unset;
      max-height: unset;
      width: unset;
      height: unset;
      &:deep(*) {
        width: unset;
        height: unset;
        max-width: unset;
        max-height: unset;
      }
    }
  }

  &.loading .button {
    .loading-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: rotate .55s infinite ease-out;
    }
    .button-text, .append-icon {
      opacity: 0;
    }
  }
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}