.marker-creation-form {
  .form {
    padding: 40px 23px;
    &-item {
      margin-bottom: 40px;
      p {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        color: white;
        line-height: 25px;
      }
      &__field {
        :deep(input) {
          font-weight: 700;
        }
      }
      .checkbox-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .checkbox {
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            width: 24px;
            height: 24px;
            user-select: none;
          }
          &-text {
            margin: 0;
            margin-left: 10px;
            color: white;
            font-size: 18px;
            font-weight: 700;
            user-select: none;
            line-height: 23px;
          }
        }
      }
    }
    .error {
      margin-top: 15px;
      color: #c2464c;
      padding-top: 15px;
      border-top: 1px solid #bf6c6c;
      opacity: 0;
      animation: fadeIn .3s ease-in-out forwards;
    }
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}