.yandex-container {
  width: calc(100% - $map-filters-width);
  height: 100%;

  :deep(.ymaps-2-1-79-copyright) {
    display: none !important;
  }
}

:deep(.yandex-balloon) {
  width: 350px;
  height: 300px;
}
:deep([class*="-balloon"]) {
  border-radius: 15px;
}

:deep(.balloon) {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  .marker-heading {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 24px;
    
    &__icon {
      width: 34px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 8px;
      .marker-name {
        max-width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1;
        color: $lightGreen;
        text-shadow: 0 0 3px #0cffb794;
      }
      .marker-author {
        font-size: 14px;
        font-weight: 400;
        color: #c8c8c8;
      }
    }
  }
  .marker-garbage {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 10px;
    &__type {
      margin-left: 10px;
      display: flex;
      align-items: center;
      font-size: 15px;
      &-checkmark {
        max-width: 24px;
        margin-right: 10px;
      }
      list-style: none;
    }
  }
  .marker-coords {
    color: #c8c8c8;
  }
  .marker-approval {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    & > * {
      width: 100%;
    }
  }
  .marker-address {
    margin-top: 10px;
    font-size: 18px;
    
  }
}

.map-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: calc(100% - 266px);
  margin-right: 35px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  box-shadow: 4px -6px 25px rgba(0, 0, 0, 0.15);
  transition: all .3s ease-in-out;
  min-height: 600px;
  .map-sidebar {
    max-width: $map-filters-width;
    width: 100%;
    background: $lightGreen;
    box-shadow: 4px 0px 25px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }

  .add-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
    position: absolute;
    bottom: 40px;
    right: calc($map-filters-width + 20px);
    z-index: 10;
  }

  .close-editing-mode {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: calc($map-filters-width + 20px);
    z-index: 10;
    :deep(.button) {
      outline: 2px solid lightgray;
    }
  }

  :deep(.floating-marker) {
    position: absolute;
    width: 34px;
    height: 41px;
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
  }
}

.fade-in-bottom {
  &-enter-active,
  &-leave-active {
    transition: $default-transition;
  }
  &-enter-from,
  &-leave-to {
    transform: translateY(10%);
    opacity: 0;
  }
}